body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.head-title{
  text-align: center;
}

ul{
  list-style-type: none;
  padding: 0px;
}
.red{
  background: red;
}

.comments{
  margin-left: 5px;
  padding-left: 5px;
  border-left: 2px solid gainsboro;
}

.tab-item{
  padding-left: 0px;
  padding-right: 0px;
}

.tabs{
  margin: auto 0px;
}

.card-read-more{
  float: right;
}

.card-wrapper{
  margin: 5px auto;
}

.card-wrapper:nth-child(1){
  margin-top: 0px;
}
